<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="/images/puzzle_favicon.png" type="image/png" />
  <link rel="icon" href="/images/puzzle_favicon.png" type="image/png" />

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Puzzle Game</title>
</head>
<body onload="initApp()">
  <div class="container-fluid" id="content">
    <div class="row">
      <div class="col-sm-12 mx-auto">
          <h1>Puzzle Game</h1>
      </div>
    </div>

    <div class="row">
          <!-- <div id="gallery">
              <% for (let i = 0; i < imagePaths.length; i++) { %>
              <img class="gameImage" src="<%=imagePaths[i]%>" alt="GameImage" onclick="startGame(this.src)">
              <% } %>
            </div> -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="false" data-interval="false">
                <div class="carousel-inner">
                  <% for (let i = 0; i < imagePaths.length; i+=4) {%>
                    <div class="carousel-item<% if (i === 0) { %> active<% } else { %><%}%>">
                      <img class="d-block w-25" src="<%=imagePaths[i]%>" alt="<%=i%>-th image" onclick="startGame(this.src)">
                      <img class="d-block w-25" src="<%=imagePaths[i+1]%>" alt="<%=i+1%>-th image" onclick="startGame(this.src)">
                      <img class="d-block w-25" src="<%=imagePaths[i+2]%>" alt="<%=i+2%>-th image" onclick="startGame(this.src)">
                      <img class="d-block w-25" src="<%=imagePaths[i+3]%>" alt="<%=i+3%>-th image" onclick="startGame(this.src)">
                    </div>
                  <% } %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
    </div>

    <div class="separator"></div>

    <div class="row">
          <canvas id="canvas"></canvas>
    
          <canvas id="hiddencanvas" hidden></canvas>
    </div>

    <div class="row">
      <div class="col-sm-12 mx-auto">
          <h2 class="moves" id="movesCounter">Moves:</h2>
      </div>
    </div>

    <div class="row">
        <% if (desktop) { %>
          <div class="col-6 mx-auto">
            <button class="btn-dark" onclick="mix(300)">Mix</button>
          </div>
          <div class="col-6 mx-auto">
              <button class="btn-danger" onclick="giveUp()">GiveUp</button>
          </div>
          <% } else { %>
          <div class="col-12 mx-auto">
              <button class="btn-danger" onclick="giveUp()">GiveUp</button>
          </div>
          <% } %>
    </div>

  </div>
</body>
<script src="js/main.js"></script>
</script>
</html>