body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background5.gif");
}

#content {
    text-align: center;
    margin: auto;
    /* width: 500px; calculate per JS */
    height: auto;
    background-color: aliceblue;
}

img {
    float: left;
}
.gameImage {
    float: left;
}

#canvas_wrapper {
    width: 100%;
    margin: auto;
}

#canvas {
    height: 320px;
    width: 320px;
    /* margin-left: 90px; calculate per JS */
    display: block;
    border: 2px solid darksalmon;
}

.moves {
    text-align: center;
    font-size: 32px;
    width: 100%;
}

#buttonBar {
    width: 400px;
}



.horizontal-scroll-wrapper {
    width: 100px;
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #777777;

    padding-top: 100px;

    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
}

.horizontal-scroll-wrapper > img {
    width: 100px;
    height: 100px;

    margin: 10px;

    transform: rotate(90deg);
    transform-origin: right top;
}



img:hover {
    border: 3px solid red;
}

    


.separator {
    height: 15px;
}
